body{
	background: #12123b;
	margin: 10px;
}

h1, span{
	font-family: ProximaNova,"Arial Narrow",Verdana,sans-serif;
	padding: 15px;
	color: #f91c2e;
	background-color: #00001e;
	line-height: 200%;
	text-align: left;
}

h2, span{
	font-family: ProximaNova,"Arial Narrow",Verdana,sans-serif;
	color: #f91c2e;
	background-color: #00001e;
	line-height: 200%;
	text-align: center;	
}

nav{
	font-family: ProximaNova,"Arial Narrow",Verdana,sans-serif; 
	text-align: center;
	font-size: 20px;
	color: #f91c2e;
	background: #00001e;
	padding: 10px;
	/*display: inline;
	width: 20px;
	margin-right: 2%;*/
	height: 30px;
}

nav>a{
	color: #f91c2e;
	margin: 10px;
	border-radius: 10px;
	background: #00b7ea;
	background: linear-gradient(#12123b 100%, #00001e 100%);
}

.current{
	color: #f91c2e;
	background: #0f5071;
	text-transform: uppercase;
}

footer{
	background: #00001e; 
	color: #f91c2e;
	line-height: 200%;
}

ul{
	font-family: ProximaNova,"Arial Narrow",Verdana,sans-serif;
	font-size: 20px;
	color: #f91c2e;
	position: relative;
	background-color: #00001e;
	display: block;
	vertical-align: text-top;
}

p{
	font-family: ProximaNova,"Arial Narrow",Verdana,sans-serif;
	font-style: bold;
}

